<% content_for :header do %>
  
  <%= javascript_include_tag "jquery.payment.js" %>

  <style type="text/css" media="screen">
    .has-error input {
      border-width: 2px;
      border-color: red;
    }

    .validation.text-danger:after {
      content: 'Invalid data';
    }

    .validation.text-success:after {
      content: 'Validation passed';
    }


    .panel-default > .panel-heading-custom {
        background: #009999; color: #fff; 
        height: 80px; text-align: center;
        font-style: bold; 

    }

    .padding{
      padding: 10px;
    }
    .center{
      text-align: center;
    }

    .form-text{
      color: black !important;

    }
  </style>

  <script>
    jQuery(function($) {
      $('.cardnumber').payment('formatCardNumber');
      $('.securitycode').payment('formatCardCVC');
      $('.duedate').payment('formatCardExpiry');
      $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
      };

      $('form').submit(function(e) {

      e.preventDefault();

      var cardType = $.payment.cardType($('.cardnumber').val());
      //$('.validation').html(date);
      $('.cardnumber').toggleInputError(!$.payment.validateCardNumber($('.cardnumber').val()));
      $('.securitycode').toggleInputError(!$.payment.validateCardCVC($('.securitycode').val(), cardType));
      $('.duedate').toggleInputError(!$.payment.validateCardExpiry($('.duedate').payment('cardExpiryVal')));

      $('.cardbrand').text(cardType);
      $('.validation').removeClass('text-danger text-success');
      $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');
      
      var errors = $('.has-error');

      if (!errors.length)
      {

        $(this).unbind('submit').submit();
        $('.alert').removeClass('alert-danger');
        $('.alert').addClass('alert-success');
      }
      else
      {
        
        $('.validation').show();
      }

      });
    });
  </script>
<% end %>


<% content_for :content do %>

  <h1 class = "center"> SELECT YOUR PRODUCT!</h1>
    <div class="container padding">   
      <%= form_tag("charge",  method: "post" ) do  %>
      	<div class="row">
       	  <div class="col-xs-4 ">
    	     	<a href="#" class="thumbnail">
    	      	  <%= image_tag "combo1.jpg", alt: "COMBO1", class: "img-rounded", style: "max-height:220px" %>
          	</a>
  	        <%= check_box_tag("products[]", "Combo 1", true) %>
  	      	<%= label_tag("Combo 1:") %>
  	      	$<%= label_tag("3000") %>
          </div>
  	      <div class="col-xs-4 ">
  	        <a href="#" class="thumbnail">
  	          <%= image_tag "combo2.jpg", alt: "COMBO2", class: "img-rounded", style: "max-height:220px" %>
  	        </a>

  	        <%= check_box_tag("products[]", "Combo 2") %>
  	      	<%= label_tag("Combo 2:") %>
  	      	$<%= label_tag("4500") %>

  	      </div>
  	      <div class="col-xs-4  " >
  	        <a href="#" class="thumbnail">
  	          <%= image_tag "combo3.jpg", alt: "COMBO3", class: "img-rounded", style: "max-height:220px" %>
  	        </a>
  	        <%= check_box_tag("products[]", "Combo 3") %>
  	      	<%= label_tag("Combo 3:") %>
  	      	$<%= label_tag("2800") %>

  	      </div>
      	</div>
    </div>

    <div class="container">
      <div class="row">
        <h1>  <%= image_tag "logo.png", alt: "TPAGA", size: "250x90" %>  </h1>
      </div>
    </div>

	  <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom"><h3>CREDIT CARD DETAILS</h3></div>
        <div class="panel-body form-text">
             
          <div class="row">
            <div class="col-xs-6"> 
              <div class='form-field'> 
                <div class="form-group">
                	<%= label_tag('cardnumber', 'Card number:') %>
                  <%= text_field_tag(:cardnumber, nil, class: 'form-control cardnumber', required: 'required', placeholder: '•••• •••• •••• ••••', autocomplete: 'cardnumber') %>
                  <span class="cardbrand"></span>
                </div>
              </div>
            </div>
            <div class="col-xs-6"> 
              <div class='form-field'>  
                <div class="form-group">
                	<%= label_tag('installments', 'Installments:') %>
                  <%= text_field_tag(:installments, nil, class: 'form-control installments', maxlength: 2, required: 'required', autocomplete: 'installments') %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class='form-field'> 
                <div class="form-group">
              	<%= label_tag('firstname', 'First name:') %>
                  <%= text_field_tag(:firstname, nil, class: 'form-control', required: 'required', autocomplete: 'firstname') %>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class='form-field'> 
                <div class="form-group">
              	<%= label_tag('lastname', 'Last name:') %>
                  <%= text_field_tag(:lastname, nil, class: 'form-control', required: 'required', autocomplete: 'lastname') %> 
                </div>
              </div>
            </div>  
          </div>              

          <div class="row">
            <div class="col-xs-2">
              <div class='form-field'> 
                <div class="form-group">
               	  <%= label_tag('duedate', 'Due date:') %>
                  <%= text_field_tag(:duedate, nil, class: 'form-control duedate', required: 'required', placeholder: '••/••••', autocomplete: 'duedate') %>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class='form-field'> 
                <div class="form-group">
                	<%= label_tag('securitycode', 'Security code:') %>
                  <%= text_field_tag(:securitycode, nil, class: 'form-control securitycode', required: 'required', placeholder: '••••', autocomplete: 'off') %>
                </div>
              </div>
            </div>
          </div>              

          <div class="form-group center">
          	<%= submit_tag("Pay", class: 'btn btn-default') %>
          </div>
          <div class="alert alert-danger validation" role="alert" hidden="false">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          </div>
        </div>
      </div>
     </div>
   <% end %> 
<% end %> 




